<section class="counterup_area text-center section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-section-title text-center">
                    <h1>Nossos Números</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter_box">
                    <img src="assets/images/shape/about-shape.png" class="number_img_shape" alt="Shape">
                    <span class="counter">100</span>
                    <p>Atendimentos Realizados</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter_box">
                    <img src="assets/images/shape/about-shape.png" class="number_img_shape" alt="Shape">
                    <span class="counter">90</span>
                    <p>Clientes Satisfeitos</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter_box">
                    <img src="assets/images/shape/about-shape.png" class="number_img_shape" alt="Shape">
                    <span class="counter">10</span>
                    <p>Anos de Serviços Prestados</p>
                </div>
            </div>
        </div>
    </div>
</section>