<section class="header_slider_area__ owl-carousel__">
    <div class="header_slider_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p><span class="subtitle_number">A&J Refrigeração</span></p>
                    <h1>Serviços de Instalação e Reparo</h1>
                    <br/>
                    <div class="slide_button">
                        <a href="https://api.whatsapp.com/send?phone=5521989546934&text=Ol%C3%A1%2C%20preciso%20de%20um%20or%C3%A7amento!" target="_blank" class="btn-yellow">ORÇAMENTO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>