<section class="header_slider_area__ owl-carousel__">
    <div class="header_slider_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p><span class="subtitle_number">A&J Refrigeração</span></p>
                    <h1>Serviços de Instalação e Reparo</h1>
                    <!--<div class="slide_button">
                        <a href="#" class="btn-yellow">GET A FREE QUOTE</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>