<section class="service_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-section-title text-center">
                    <h1>Serviços</h1>
                </div>

            </div>

            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <div class="service_img">
                        <img src="assets/images/services/service-1.jpg" alt="service 1">
                        <div class="icon-box">
                            <i class="icon-snow"></i>
                        </div>
                    </div>
                    <div class="service_details">
                        <a href="service-details.html">
                            <h2>Refrigerador</h2>
                        </a>
                        <p>
                            Trabalhamos com manutenção de geladeiras de todas as marcas e modelos.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <div class="service_img">
                        <img src="assets/images/services/service-2.jpg" alt="service 2">
                        <div class="icon-box">
                            <i class="icon-fire"></i>
                        </div>
                    </div>
                    <div class="service_details">
                        <a href="service-details.html">
                            <h2>Freezer e Expositora</h2>
                        </a>
                        <p>
                            Consertamos todo tipo de Freezer, Expositoras e Balcão Frio.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <div class="service_img">
                        <img src="assets/images/services/service-3.jpg" alt="service 3">
                        <div class="icon-box">
                            <i class="icon-ac"></i>
                        </div>
                        <!-- /.icon-box -->
                    </div>
                    <!--end .service_img-->
                    <div class="service_details">
                        <a href="service-details.html">
                            <h2>Other Services</h2>
                        </a>
                        <p>
                            There are many variations passages of lorem ipsum available but the majority have suffered alteration.
                        </p>
                        <a href="service-details.html" class="btn-yellow">LEARN MORE</a>
                    </div>
                    <!--end .service_details-->
                </div>
                <!--end .service_box-->
            </div>
            <!--end .col-md-4-->
        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>