<div class="preloader">
    <div class="loader">
        <span></span>
    </div>
</div>
<!--end .preloader-->

<app-header></app-header>

<app-navigator></app-navigator>

<router-outlet></router-outlet>


<section class="cta_style_2_area">
    <div class="cta_style_2_img_left cta_style_2_img_right"></div>
    <!--<div class="cta_style_2_left">
        <p>Air Conditioning Services</p>
        <h1>Cool it down</h1>
    </div>-->

    <!-- <div class="cta_style_2_left cta_style_2_right text-right">
       <p>Heating Services</p>
        <h1>Heat it up</h1>
    </div>-->
</section>



<app-footer></app-footer>