<header class="header_area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="header_social">
                    <ul class="hd_social_icons">
                        <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="header_contact text-right">
                    <ul class="hd_contact">
                        <li><i class="icon-placeholder"></i> <a href="https://goo.gl/maps/oATh5mXD9BE7W9Jr9" target="_blank"> Rio de Janeiro</a></li>
                        <li><i class="icon-phone-call"></i><a href="https://api.whatsapp.com/send/?phone=5521989546934&text&app_absent=0" target="_blank">(21) 98954-6934</a></li>
                        <li><i class="icon-clock"></i><a> Seg-Sab: 9:00 às 18:00</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>