<div class="main_menu_area">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <button type="button" class="navbar-toggles">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                <a [routerLink]="['/home']" class="logo">
                    <img src="./assets/images/logo.png" alt="Logo">
                </a>
            </div>

            <div class="col-md-10 col-sm-9 collapse_responsive">
                <div class="collapse navbar-collapse remove_padding" id="myNavbar">
                    <ul class="nav navbar-nav text-center">
                        <li>
                            <a [routerLink]="['/home']" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{ exact: true }">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActive]="['current']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" [fragment]="'about'">
                                <span>Sobre</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActive]="['current']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" [fragment]="'service'">
                                <span>Serviços</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActive]="['current']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" [fragment]="'contact'">
                                <span>Contato</span>
                            </a>
                        </li>
                        <li class="header_right_btn">
                            <a class="btn-yellow" href="https://api.whatsapp.com/send?phone=5521989546934&text=Ol%C3%A1%2C%20preciso%20de%20um%20or%C3%A7amento!" target="_blank">ORÇAMENTO</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>