<section id="contact" class="contact_form_area section_padding">

    <div class="contact_form_width contact-background">
        <!--<img src="./assets/images/shape/about-shape.png" class="footer_shape" alt="footer shape">
        <h1 class="contact_map_title text-center">Nossa Localização</h1>
        <div id="map"></div>-->
    </div>

    <div class="contact_form_width contact-right">
        <div class="hero-title-with-shape">
            <h4 class="heading_with_border">Faça um orçamento grátis</h4>
            <h1>Nos envie sua mensagem e logo retornaremos</h1>
        </div>

        <form action="#" method="post">
            <input class="half_width input_m_right" type="text" name="name" placeholder="Nome *">
            <input class="half_width" type="email" name="email" placeholder="Email *">
            <input type="tel" name="phone" class="phone_with_ddd" placeholder="Telefone *">
            <textarea name="message" placeholder="Mensagem *" rows="4"></textarea>
            <button type="button" class="btn-yellow submit-btn">ENVIAR MENSAGEM</button>
        </form>
    </div>

</section>