<section class="about_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_image about-image__updated"></div>
            </div>
            <div class="col-md-6">
                <div class="about_details">
                    <div class="hero-title-with-shape">
                        <h4 class="heading_with_border">Quem Somos</h4>
                        <h1>Sobrea a A&J Refrigeração</h1>
                    </div>
                    <p>Somos uma empresa especializada em instalação e manutenção de aparelhos de refrigeração, desde: geladeiras, freezer, ar condicionado (split ou acj), balcão frio e geladeira expositora. atendemos em domicílio para te oferecer maior
                        comodidade com um serviço de qualidade.</p>
                </div>
            </div>
        </div>
    </div>
</section>